@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Restaurant Rater is a simple web app that allows users to recorde and rater defferent restaurants.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
             Click on the navbar link to Rate a Restaurant or click the Rate a Restaurant button..
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Information</h2>
        <p>
            Click here to learn more about Restaurant Rater.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Clcik here to contact the owners of Restaurant Rater and voice your concerns.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>